.day-forecast {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  color: white;
  width: 175px; 
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.day-forecast:hover {
  transform: scale(1.05);
}

.weather-icon {
  width: 50px;
  height: 50px;
}

.temperature p {
  font-size: 14px;
  margin: 0;
}

.weather-details p {
  font-size: 12px;
  margin: 0 0 5px 0;
}

@media (max-width: 1200px) {
  .day-forecast {
    width: 155px;
    height: 195px;
    margin: 0;
  }
  .day-forecast h6 {
    font-size: 12px;
    margin-bottom: 0;
  }
  .weather-icon {
    width: 45px;
    height: 45px;
  }

  .temperature p {
    font-size: 16px;
  }

  .weather-details p {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .day-forecast {
    width: 160px;
    height: 180px;
    padding: 10px;
    margin: 10px;
  }

  .weather-icon {
    width: 40px;
    height: 40px;
  }

  .temperature p,
  .weather-details p {
    font-size: 14px;
  }
}
